<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>io.github.a1az.dualkey-signal-light</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Applications/DualKey Signal Light.app/Contents/MacOS/dualkey-light</string>
    <string>serve</string>
    <string>--transport</string>
    <string>auto</string>
    <string>--install-integrations</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ProcessType</key>
  <string>Background</string>
  <key>ThrottleInterval</key>
  <integer>5</integer>
</dict>
</plist>
